@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --cor-principal: #D23669;
  --cor-titulo: #000000;
  --cor-texto: gray;
  --cor-fundo: #FFFFFF;
}

.dark {
  --cor-principal: #00FF95;
  --cor-titulo: #FFFFFF;
  --cor-texto: #FFFFFF;
  --cor-fundo: #000000;
}

h1 {
  color: var(--cor-titulo);
  text-align: center;
  margin-top: 20px;
}

button {
  color: var(--cor-fundo);
  background-color: var(--cor-principal);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  top: 30px;
  left: 5px;
}

p {
  color: var(--cor-texto);
  font-size: 16px;
  font-weight: bold;
}

.container {
  background: var(--cor-fundo);
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s linear;
}

img {
  height: 120px;
  border-radius: 50%;
  border: 2px solid black;
}

section {
  width: 800px;
}

.habilidades {
  color: var(--cor-principal);
}